<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Crowdfunder</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="project-list">Browse projects</a></li>
      <li><a routerLink="new-project">Start a project</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
